{% extends 'base.html' %}

{% block content %}
    <div class="container perfil">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="alert alert-danger">
                    Estas seguro que deseas eliminar: <strong>{{ object }}</strong>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_table }}
                    </div>
                    <button style="width: 100%" class="btn btn-danger" type="submit">Confirma Eliminar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}