<div class="container pago-banner mt-4 bg-light border border-primary rounded pb-2 d-none d-sm-block">
	<div class="row">
		<div class="col-3 pt-2 pl-2 text-secondary text-center">
			<h4><i class="fas fa-lock"></i> Paga facil y seguro</h4>
			<button class="btn btn-link" data-toggle="modal" data-target="#pago-como-funciona"><i class="fas fa-info-circle"></i> ¿Cómo funciona?</button>
		</div>
		<div class="col-5 pt-2 pl-2 text-secondary">
			<h5>
			<img class="pago-icon" src="https://tanquemania.s3-us-west-2.amazonaws.com/assets/mercado-pago-icon.png"> Mercado Pago 
			<img class="pago-icon" src="https://tanquemania.s3-us-west-2.amazonaws.com/assets/Paypal-icon.png"> Paypal
			</h5>
			<small class="muted">Transacciones <b>100% seguras</b>, nunca guardamos tu informacion bancaria</small>
		</div>
		<div class="col-4 pt-2 pl-2">
			<div class="row">
				<div class="col-4">
					<a href="https://api.whatsapp.com/send?phone==523312479412">
						<img class="ws-icon" src="https://tanquemania.s3-us-west-2.amazonaws.com/assets/whatssap-icon.png">
					</a>
				</div>
				<div class="col-8">
					<h4 class="text-primary">Conócenos</h4>
					<small class="muted text-secondary"> Somos un negocio de entusiastas, mandandos un whatsapp!</small>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pago-banner mt-4 bg-light border border-primary rounded pb-2 d-block d-sm-none">
	<div class="row">
		<div class="col-6">
			<h4><i class="fas fa-lock"></i> Paga facil y seguro</h4>
			<h5>
			<img class="pago-icon" src="https://tanquemania.s3-us-west-2.amazonaws.com/assets/mercado-pago-icon.png">
			<img class="pago-icon" src="https://tanquemania.s3-us-west-2.amazonaws.com/assets/Paypal-icon.png">
			</h5>
		</div>
		<div class="col-6">
			<h4 class="text-secondary">Conócenos</h4>
			<a href="https://api.whatsapp.com/send?phone==523312479412">
				<img class="ws-icon" src="https://tanquemania.s3-us-west-2.amazonaws.com/assets/whatssap-icon.png">
			</a>
		</div>
	</div>
</div>