<div class="modal fade" id="pago-como-funciona" tabindex="-1" role="dialog" aria-labelledby="pagoComoFuncionaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="exampleModalLabel"><i class="fas fa-lock"></i> Pago Seguro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">1) Selecciona los productos que te gustan y genera tu orden </li>
          <li class="list-group-item">2) La orden de compra será revisada por el personal de Tanquemania</li>
          <li class="list-group-item">3) Te enviaremos una orden de pago mediante el proveedor seleccionado</li>
          <li class="list-group-item">4) Una vez confirmado tu pago haremos el envió de tu orden en el próximo día hábil</li>
        </ul>
        <p class="small p-2 text-primary">No dudes en contactarnos personalmente durante el proceso, somos un negocio que brinda atención personalizada, de entusiastas para entusiastas.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>