//FONTS
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700');

$font_theme_primary: 'Roboto Slab', serif;
$font_theme_secondary: 'Arvo', serif;
$font_theme_third: 'Bitter', serif;
$font_theme_fourth: 'Bree Serif', serif;

////Bootrap Variables
//$primary:       $blue !default;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;

// olive drab #3E4B13;
// olive green #506345;

//Sobre-escribe tema
$primary: #848B36;
//Secondary asigna conjunto navbar
$secondary: #3E4B13;
//Titulo de tienda
$color_titulo_tienda: whitesmoke;
$font_titulo_tienda: 'Roboto Slab', serif;
$font_weight_titulo_tienda: bold;
//Color Footer
$color_fondo_pie: white;