{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron error404">
        <div class="container">
            <div class="row justify-content-center">
                <img src="{% static 'assets/404.png' %}" alt="404">
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h1><span class="text-primary">403</span> Permiso denegado!</h1>
                    <p>No tienes los servicios necesarios para acceder al recurso</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}